<% content_for :navbar_text_center do %>
  <h1 class="text-center">Vos listes !</h1>
<% end %>

<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    <% end %>
  </ul>
</div>
