<% content_for :navbar_text_center do %>
  <h1 class="text-center">Créer une nouvelle list!</h1>
<% end %>

<div class="container">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name, placeholder: "Ex: Favoris, En cours, À voir..." %>
    <%= f.submit "Sauvegarder", class: "btn btn-success my-2" %>
  <% end %>

  <%= link_to "Retour aux listes", lists_path, class: "btn btn-secondary mb-2" %>
</div>
