<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD0-P56c2anKeT_txRJ4s75zzZDfYzfZp6dw&s);">
</div>
