<div class="banner mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSZFod82SWiR4T4xq1obldaWVJriN3TMBrew&s">
  <div class="container text-center">
  </div>
</div>
